<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="style-about.css">
</head>
<body>
<div>
    <div class="pictureBackground">
        <img class="pictureBackground" src="FoodWastePicture.jpeg">
    </div>
    <div>
        <div class = "textDiv">
        <h1 style="margin-top: 5%;display: flex; justify-content: center"; style="margin-left: 35%">About</h1>
            </div>
        <div class = "listOfButtons">
            <a href="SmallCompany.html">
                <div>
                    <h3>Lille firma</h3>
                </div>
            </a>
            <a href="PrivatePerson.html">
                <div>
                    <h3>Privat person</h3>
                </div>
            </a>
            <a href="LargeCompany.html">
                <div>
                    <h3>Stort firma</h3>
                </div>
            </a>
        </div>

    </div>


</div>
</body>
</html>