<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Madspilds omregner</title>
    <link rel="stylesheet" href="style-calculator.css">

    <script src="test.js"></script>
    <script>
        $(function () {
            $("#bin").focus();

            $("#bin").keyup(function () {
                let num = $("#bin").val();
                let resultCarrots;
                let resultCO2;
                let resultWarming;
                const kgCarrots = 1.6306;
                const co2Saver = 0.3150;
                const houseWarming = 0.0395;

                resultCarrots = num * kgCarrots;
                resultCO2 = num * co2Saver;
                resultWarming = num * houseWarming;


                $("#carrots").html(resultCarrots);
                $("#kgco2").html(resultCO2);
                $("#husstand").html(resultWarming);
            });
        });
    </script>

</head>
<body>

<div>
    <div class="pictureBackground">
        <img class="pictureBackground" src="foodwaste.jpg">
    </div>

    <div id = "front">

        <h1 style="text-align: center;">Her kan du se betydningen af dit madaffald</h1><br/>
        <div class="input">
            <h2>Indtast vægt i Kg</h2>
            <div><input type="text" id="bin" title="Indtast vægt her her"/></div>
        </div>
        <div class="heleResultatet">
            <div class="textVedResultater">
                <p>Kg gulerødder: </p>
                <p>Kg co2: </p>
                <p>Husstand: </p>
            </div>
            <div class="resultater">


                <p id="carrots">0</p>
                <p id="kgco2">0</p>
                <p id="husstand">0</p>

            </div>
        </div>

        <form STYLE="text-align: center; margin-top: 20px">
            <input type="button" value="Tilbage til forrige side!" onclick="history.back()">
        </form>

    </div>
</div>
</body>
</html>
