<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Madspilds omregner</title>
    <link rel="stylesheet" href="css/style-calculator.css">
    <link rel="stylesheet" href="css/style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="test.js"></script>
    <script>
        $(function () {
            $("#bin").focus();

            $("#bin").keyup(function () {
                let num = $("#bin").val();
                let resultCarrots;
                let resultCO2;
                let resultWarming;
                const kgCarrots = 1.6306;
                const co2Saver = 0.3150;
                const houseWarming = 0.0395;

                resultCarrots = num * kgCarrots;
                resultCO2 = num * co2Saver;
                resultWarming = num * houseWarming;


                $("#carrots").html(resultCarrots);
                $("#kgco2").html(resultCO2);
                $("#husstand").html(resultWarming);
            });
        });
    </script>

</head>
<body>

<div class="images">
    <img src = "img/ryechaku.jpg"style="height: 20%; width: 20%">
    <img src="img/broccoliguns.jpg" style="height: 20%; width: 20%">
</div>

<div>
    <div class="navbar">
        <a href="/Forside">Forside</a>
        <a href="/Calculator" class = "active">Madaffalds beregner</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Lille firma</a>
                <a href="/LargeCompany">Stort firma</a>
            </div>
        </div>
    </div>

    <div id = "front">

        <h1 style="text-align: center;">Her kan du se betydningen af dit madaffald</h1><br/>
        <div class="input">
            <h2>Indtast vægten af dit madaffald i kg</h2>
            <div><input type="text" id="bin" title="Indtast vægt her her"/></div>
        </div>
        <div class="heleResultatet">
            <div class="textVedResultater">
                <p>kg gulerødder kan blive gødet: </p>
                <p>kg CO2 kan spares: </p>
                <p>Dages opvarmning af en husstand: </p>
            </div>
            <div class="resultater">


                <p id="carrots">0</p>
                <p id="kgco2">0</p>
                <p id="husstand">0</p>

            </div>
        </div>
    </div>
</div>
</body>
</html>
