<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="style-about.css">
    <link rel="stylesheet" href="style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
    <div class="navbar">
        <a href ="/Forside">Forside</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Små virksomheder</a>
                <a href="/LargeCompany">Store virksomheder</a>
            </div>
        </div>
    </div>
    <div>
        <div class="textDiv">
            <h1 style=" margin-left: 23%; margin-top: -6%; display: flex; justify-content: center">Madspild</h1>
        </div>
        <div class = "citatText">
            <h4>"Fødevarer, der skulle have endt deres dage på en tallerken, når ofte ikke så langt." - citat: En ægte person</h4>
        </div>
        <div class="infoText">
            <h2>
                Madspildet i den danske servicesektor udgør 227.000-ton pr. år. <br>Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.<br><br>Det største madspild i servicesektoren stammer fra detailhandelen, <br>der spilder 163.000 tons pr. år, svarende til 72 % af servicesektorens madspild.<br><br>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år, <br>mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.<br><br>Men hvad kan du gøre? Klik på de følgende links og få info.
            </h2>
        </div>

        <a href="PrivatePerson.html">
            <div class="btn-group" id="privatPerson">
                <h3>Privat person</h3>
            </div>
        </a>

        <a href="SmallCompany.html">
            <div class="btn-group" id="lilleFirma">
                <h3>Lille firma</h3>
            </div>
        </a>

        <a href="LargeCompany.html">
            <div class="btn-group" id="stortFirma">
                <h3>Stort firma</h3>
            </div>
        </a>


    </div>


</div>
</body>
</html>