<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="css/style-forside.css">
    <link rel="stylesheet" href="css/style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div>
    <div class="navbar">

        <a href ="/Forside" class = "active">Forside</a>
        <a href="/Calculator">Madaffalds beregner</a>

        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>

            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Lille firma</a>
                <a href="/LargeCompany">Stort firma</a>
            </div>

        </div>
    </div>

    <div>
        <div class="images">
            <img src="img/killerpeas.jpg" style="height: 25%; width: 25%">
        </div>

        <div class="textDiv">
            <h1 style=" margin-left: 23%; margin-top: -6%; display: flex; justify-content: center">Madspild</h1>
        </div>

        <div class = "citatText">
            <h4><cite>"Fødevarer, der skulle have endt deres dage på en tallerken, når ofte ikke så langt." - Sun Tzu!</cite></h4>
        </div>

        <div class="infoText">
            <h3>
                Madspildet i den danske servicesektor udgør 227.000-ton pr. år.
                <br>Til sammenligning er det samlede madspild fra husholdningerne 261.000-ton pr. år.
                <p style="color: darkgreen">Det er spild af ressourcer, som en ægte madspilds-kriger ikke kan acceptere!</p>
                <p>Det største madspild i servicesektoren stammer fra detailhandelen,
                    <br>der spilder 163.000 tons pr. år, svarende til 72% af servicesektorens madspild.</p>
                <p style="color: darkgreen">Det må bekæmpes!</p>
                <p>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000 tons pr. år,
                    <br>mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for 151.000-ton pr. år.</p>
                <p style="color: darkgreen">Vi madspilds-krigere erklærer krig mod den slags uhyrligheder!</p>
                <p>Men hvad kan du gøre? Klik på de følgende links og få info.</p>
            </h3>
        </div>

        <div>
        <a href="PrivatePerson.html">
            <div class="btn-group" id="privatPerson">
                <h3>Privatperson</h3>
            </div>
        </a>

        <a href="SmallCompany.html">
            <div class="btn-group" id="lilleFirma">
                <h3>Lille firma</h3>
            </div>
        </a>

        <a href="LargeCompany.html">
            <div class="btn-group" id="stortFirma">
                <h3>Stort firma</h3>
            </div>
        </a>
        </div>

    </div>


</div>
</body>
</html>