<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="style-front.css">
</head>
<body>
<div>
    <div class="pictureBackground">
        <img class="pictureBackground" src="foodwaste.jpg">
    </div>
    <div class="textDiv">
        <h1 style="margin-top: 5%">Velkommen, madspilds-kriger!</h1>
    <a href="Forside.html">
        <div class="button; pointer">
            <h3>Find ud af mere</h3>
        </div></a>
    </div>
</div>
</body>
</html>