<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stort firma</title>
    <link rel="stylesheet" href="style-large.css">
    <link rel="stylesheet" href="style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div>

    <div class="navbar">
        <a href="/Forside">Forside</a>
        <a href="/Calculator">Madaffalds beregner</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Små virksomheder</a>
                <a href="/LargeCompany">Store virksomheder</a>
            </div>
        </div>
    </div>

    <div id="mainContent">
        <h1>Hvordan kan i undgå madspil i et stort firma</h1>
        <div id="Text">
            <h3>Refood kan måske hjælpe</h3>
            <p>REFOOD mærket er en ordning for virksomheder og organisationer i fødevare- og servicesektoren, som gør en
                indsats mod madspild og for genanvendelse. Medlemskab er gratis og kræver, at man vælger tre
                madspildsreducerende initiativer blandt vores mange gode forslag, samt har en ordning for genanvendelse
                af madaffald. REFOOD mærket er en tillidsbaseret certificering, som bygger på en fælles vision om en
                bæredygtig fødevare- og servicesektor, præget af mindre ressourcespild og mere genanvendelse</p>
            <p><br>
            <h3>Refoods gode råd:</h3>
            <p><strong>· Hvis der ofte levnes mad kan portionerne gøres mindre. Brug gerne vægttabel.</strong></p>

            <p><strong>· Hvis I har en buffet kan i nedsætte madspildet ved at gøre tallerknerne mindre.</strong></p>

            <p><strong>· Brug resterne i nye retter, f.eks. gennem en fleksibel ”dagens ret”.</strong></p>

            <p><strong>· Rynkede eller skæve grøntsager kan sagtens bruges, f.eks. i gryderetter.</strong></p>

            <p><strong>· Indfør køb-per-vægt på frugt og grønt.</strong></p>
            </p>

            <p style="margin-top: 10%">Hvis du vil se hvad dit madspild betyder kan du trykke her</p>
            <a style="margin-left: 30%" href="/Calculator" class="btn btn-primary">Til omregner</a>
            <br>
            <br>
            <br>
        </div>


    </div>
</div>

</body>
</html>