<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stort firma</title>
    <link rel="stylesheet" href="style-large.css">
    <link rel="stylesheet" href="style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div>

    <div class="navbar">
        <a href ="/Forside">Forside</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatPerson">Privatpersoner</a>
                <a href="/SmallCompany">Små virksomheder</a>
                <a href="/LargeCompany">Store virksomheder</a>
            </div>
        </div>
    </div>

    <div class="textDiv">
        <h1 style="margin-top: 5%">Velkommen, madspilds-kriger!</h1>
    <a href="About.html">
        <div class="button">
            <h3>Find ud af mere</h3>
        </div></a>
    </div>
</div>

</body>
</html>