<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privat person</title>
    <link rel="stylesheet" href="css/style-privateperson.css">
    <link rel="stylesheet" href="css/style-topbar.css">
    <link rel="stylesheet" href="css/style-calculatorlink.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>A{text-decoration: none}</style>
<body>

<div>
    <div class="navbar">
        <a href ="/Forside">Forside</a>
        <a href="/Calculator">Madaffalds beregner</a>
        <a href="https://www.lovefoodhatewaste.com/article/food-storage-a-z?_ga=2.51578667.320372571.1646259871-1489483851.1646259871">A-Z madopbevaring</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Lille firma</a>
                <a href="/LargeCompany">Stort firma</a>
            </div>
        </div>
    </div>

    <div class="images">
        <img src="img/kalashnycarrot2.jpg" style="height: 25%; width: 25%">
    </div>

    <div id = "mainContent">
        <h1>Hvordan kan du undgå madspild derhjemme</h1>

        <div id = "Text">
            <h3>Forskellen på madspild og madaffald</h3>
            <p> Madspild er den mad, vi sagtens kan spise, men i stedet smider ud, f.eks.
                fordi der er tale om tallerkenrester og overflødige indkøb.<p style="color: darkgreen">For en kriger er intet overflødigt!</p> Madaffald er derimod de dele
                af fødevarerne, der ikke er spiselige, heriblandt æggeskaller, kernehuse og kaffegrums.
                Der forekommer madspild i langt de fleste husholdninger, men der er mange måder at reducere det på.
                <p style="color: darkgreen">Så grib dit sværd og kæmp for madliv!</p>
            </p><br>
            <div class="divAdvice">
                <h3 style="margin-left: 5%">Gode råd:</h3>
                <p style="margin-left: 5%; font-size: 90%"><strong>· Korrekt opbevaring af maden forlænger holdbarheden</strong></p>
                <p style="margin-left: 5%; font-size: 90%"><strong>· Køb udelukkende mad i mængder, der faktisk bliver spist</strong></p>
                <p style="margin-left: 5%; font-size: 90%"><strong>· Vær opmærksom på holdbarhedsmærkningen</strong></p>
                <p style="margin-left: 5%; font-size: 90%"><strong>· Frys den mad ned, du/I ikke kan nå at spise</strong></p>
            </div>
            <p style=" font-size: 120%; color: darkgreen">Se hvad dit madspild betyder ved at trykke her:</p>
            <div class = "link">

                <a style="top: 194%" href="Calculator" class="button">Til beregner</a>
                <br>
                <br>
                <br>
            </div>
        </div>

    </div>

</div>

</body>
</html>