<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privat person</title>
    <link rel="stylesheet" href="style-privateperson.css">
    <link rel="stylesheet" href="style-topbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div>
    <div class="navbar">
        <a href ="/Forside">Forside</a>
        <a href="/PrivatPerson">Privat personer</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatPerson">Privatpersoner</a>
                <a href="/SmallCompany">Små virksomheder</a>
                <a href="/LargeCompany">Store virksomheder</a>
            </div>
        </div>
    </div>

    <div id = "mainContent">
        <h1>Hvordan kan du undgå madspild derhjemme</h1>

        <div id = "Text">
            <h3>Forskellen på madspild og madaffald</h3>
            <p> Madspild er den mad, vi sagtens kan spise, men i stedet smider ud, f.eks.
                fordi der er tale om tallerkenrester og overflødige indkøb. Madaffald er derimod de dele
                af fødevarerne, der ikke er spiselige, heriblandt æggeskaller, kernehuse og kaffegrums.
                Der forekommer madspild i langt de fleste husholdninger, men der er mange måder at reducere det på:
            </p>
            <p>- En korrekt opbevaring af maden forlænger holdbarheden</p>
            <p>- Køb udelukkende mad i mængder, der rent faktisk bliver spist</p>
            <p>- Vær opmærksom på holdbarhedsmærkningen</p>
            <p>- Frys den mad ned, du/I ikke kan nå at spise</p>
            <p style="margin-top: 10%">Hvis du vil se hvad dit madspild betyder kan du trykke her</p>

            <a style="margin-left: 30%" href="/Calculator" class="btn btn-primary">Til omregner</a>
        </div>

    </div>

</div>

</body>
</html>