<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lille firma</title>
    <link rel="stylesheet" href="css/style-topbar.css">
    <link rel="stylesheet" href="css/style-small.css">
    <link rel="stylesheet" href="css/style-topbar.css">
    <link rel="stylesheet" href="css/style-calculatorlink.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>A{text-decoration: none}</style>
<body>
<div>
    <div class="navbar">
        <a href ="/Forside">Forside</a>
        <a href="/Calculator">Madaffalds beregner</a>
        <div class="dropdown">
            <a class="dropbtn">Hvad kan du gøre    <i class="fa fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/PrivatePerson">Privatpersoner</a>
                <a href="/SmallCompany">Lille firma</a>
                <a href="/LargeCompany">Stort firma</a>
            </div>
        </div>
    </div>

    <div class="images">
        <img src="img/shroomspear.jpg" style="height: 25%; width: 25%">
    </div>

    <div id = "mainContent">
        <h1>Hvordan kan I reducere madspild?</h1>

    <div>
        <h3>Madspild i den lille virksomhed</h3>
        <p>Smider I mad ud, der kunne være blevet spist? <p style="color: darkgreen">En ægte kriger spiser altid op!</p>
            Madspild koster danske virksomheder tusindvis af kroner om året.
            Madspild belaster også klimaet og miljøet.
            Det koster nemlig ressourcer og CO2 at producere mad.
            Og de ressourcer er spildt, hvis maden bliver smidt ud.
            Transport, opvarmning af stalde og drivhuse, brug af maskiner, gødning,
            sprøjtemidler og produktion af foder til dyr er nogle af de poster,
            der gør, at mad vejer tungt i klimaregnskabet.
        <p style="color: darkgreen">Lad os sammen bekæmpe mad-drab!</p>
        </p><br>
        <div class="divAdvice">
            <h3 style="margin-left: 5%">Gode råd:</h3>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Tilbyde doggybags til kunder</strong></p>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Anrette tallerkner ved hjælp af vægt</strong></p>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Lave informationskampagner om madspild</strong></p>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Få køkkener til at fokusere på sæsonvarer</strong></p>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Lave aftensmaden som dagens ret af overskudsvarer</strong></p>
            <p style="margin-left: 5%; font-size: 90%"><strong>· Genanvend madaffaldet som f.eks. kompost til planter</strong></p>
        </div>

        <p style=" font-size: 120%; color: darkgreen">Se hvad dit madspild betyder ved at trykke her:</p>
        <div class = "link">

        <a style="top: 194%" href="Calculator" class="button">Til beregner</a>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
</div>

</body>
</html>