<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lille virksomhed</title>
    <link rel="stylesheet" href="style-topbar.css">
    <link rel="stylesheet" href="style-small.css">
</head>
<body>
<div>
    <div class="navbar">
        <a href ="/About">Forside</a>
        <a href="/PrivatPersoner" class="active">Privat personer</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
    </div>

    <div id = "mainContent">
        <h1>Hvordan kan I reducere madspild?</h1>

    <div>
        <h3>Madspild i den lille virksomhed</h3>
        <p>Smider I mad ud, der kunne være blevet spist?
            Madspild koster danske virksomheder tusindvis af kroner om året.
            Madspild belaster også klimaet og miljøet.
            Det koster nemlig ressourcer og CO2 at producere mad.
            Og de ressourcer er spildt, hvis maden bliver smidt ud.
            Transport, opvarmning af stalde og drivhuse, brug af maskiner, gødning,
            sprøjtemidler og produktion af foder til dyr er nogle af de poster,
            der gør, at mad vejer tungt i klimaregnskabet.
        <h3><br>Man kunne bl.a.:</h3>
        </p>
        <p><strong>· Tilbyde doggybags til kunder</strong></p>
        <p><strong>· Anrette tallerkner ved hjælp af vægt</strong></p>
        <p><strong>· Lave informationskampagner om madspild</strong></p>
        <p><strong>· Få køkkener til at fokusere på sæsonvarer</strong></p>
        <p><strong>· Lave aftensmaden som dagens ret af overskudsvarer</strong></p>
        <p><strong>· Genanvend madaffaldet som f.eks. kompost til planter</strong></p>

        <p style="margin-top: 10%">Hvis du vil se hvad dit madspild betyder kan du trykke her</p>

        <a style="margin-left: 30%" href="/Calculator" class="btn btn-primary">Til omregner</a>
        <br>
        <br>
        <br>
    </div>
</div>
</div>

</body>
</html>