.backgroundColor{
    display: block;
    background-color: darkseagreen;
}

.textDiv{
    position: relative;
    z-index: 10;
}

h1{
    text-align: center;
    margin-top: 10%;
    font-family: "Calibri";
    font-size: 900%;
    color: black;
}

.pictureBackground{
    display: block;
    position: absolute;
    margin-top: 0px;
    opacity: 50%;
    height: 100%;
    width: 100%;
    z-index: -1;
}



