body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.pictureBackground {;
    display: block;
    position: fixed;
    opacity: 60%;
    height: 135%;
    width: 100%;
    z-index: -1;
}

#mainContent{
    display: flex;
    margin-left: 25%;
    padding-top: 100px;
    font-family: "Calibri";
    flex-direction: column;
    padding-right: 20%;
    font-size: 200%;
}



