body {
    margin: 0;
    padding: 0;
    background-color: #f5f4f0;
}

.backgroundColor {
    margin: 0;
    padding: 0;
}

.textDiv {
    position: absolute;
    top: 10%;
    z-index: -1;
    left: 5%;
    margin-top: -4%;
}

.infoText {
    position: absolute;
    top: 32%;
    left: 5%;
    z-index: 10;
}

.citatText {
    position: absolute;
    top: 27%;
    left: 5%;
}

.btn-group {
    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    height: 7%;
    border-color: darkgreen;
    background-color: darkgreen;
    border-width: 0.3em;
    border-style: solid;
    top: 80%;
    z-index: 10;
}

.images {
    position: absolute;
    display: flex;
    justify-content: end;
    margin-right: 10%;
    margin-top: 4%;

    z-index: -1;
}

#lilleFirma {
    width: 25%;
    margin-left: 38%;
}

#stortFirma {
    width: 25%;
    margin-left: 70%;
}

#privatPerson {
    width: 25%;
    margin-left: 5%;
}

h4 {
    text-align: left;
    font-family: "calibri", Arial ;
}

h3 {
    text-align: center;
    margin-top: 1%;
    margin-bottom: 0%;
    font-family: "Calibri",Arial;
    font-size: 260%;
}

h1 {
    text-align: center;
    margin-top: 3%;
    font-family: "Calibri",Arial;
    font-size: 750%;
    color: darkgreen;
}

a{color: white;}

a:hover{color: darkgreen;}

.btn-group:hover{background-color: white;}