body{
    margin: 0;
    padding: 0;
    background-color: #f5f4f0;
}

#mainContent{
    display: flex;
    margin-left: 20%;
    padding-top: 100px;
    font-family: "Calibri",Arial;
    flex-direction: column;
    padding-right: 20%;
    font-size: 200%;
    align-content: center;
}

.images {
    position: absolute;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 9%;
    margin-top: 8%;

    z-index: -1;
}

.divAdvice{
    display: block;
    border-style: solid;
    border-width: 3px;
    border-color: darkgreen;
    height: auto;
    width: auto;
}



a{color: white;}

a:hover{color: darkgreen;}

.button:hover{background-color: white;}
